<h3>
 <p>
 Witam bardzo serdecznie w grze NyanSpeedWriter! <br><br>
 Gra polega na tym, aby w 10 sekund <br>
 wpisać wylosowane cyfry w kwadraciki umieszczone <br>
 poniżej wylosowanymi.<br><br>
 Działanie jest proste: <br>
 1. Wybierz poziom trudności (poziom = liczbie cyfr) <br>
 2. Kliknij w przycisk "Start" aby rozpocząć <br>
 3. Od teraz masz 10sek na uzupełnienie kwadracików <br>
 4. Po uzupełnieniu wszystkich wymaganych kliknij "Sprawdź" <br>
 5. Odczytaj wynik!<br><br>
 POWODZENIA!!
 </p>
</h3>
<router-outlet></router-outlet>