
  <!-- <div style="width: 100%; position: relative; z-index: -1;">
    <img src="../assets/images/Slide_Nyan_Cat.gif" alt="cat" style="width: 100%" />
  </div> -->
  <!-- <div style="position: fixed; top: 0; left: 0; padding: 10px;"> -->
    <button mat-button [matMenuTriggerFor]="menu" style="position: fixed; top:10px; left:40px; padding:10px; width: 150px; font-size: 20px">MENU</button>
    <nav>
      <mat-menu #menu ="matMenu">
        <button mat-menu-item routerLink="/game" routerLinkActive="active">Graj</button>
        <button mat-menu-item routerLink="/about" routerLinkActive="active">O grze</button>
      </mat-menu>
    </nav>
  <!-- </div> -->


<router-outlet></router-outlet>